<h1>Adding PGN staticly</h1>
<p>Here you can upload a tournament from a pgn file</p>


<h1>File Upload</h1>

<%= form_tag (@data_file :action =>"parse_pgn", :method=>"post", :multipart => true) do %>
 <label for="upload">File to Upload</label> <br/>
 <%= file_field 'upload','datafile' %></p>

  <%= submit_tag %>
<% end %>
