.container {
width: 75%;
word-wrap: break-word;
}

body {

}

header {
padding-top: 10px;
}

header img {
padding: 1px;
}

section {
margin-top: 1em;
font-size: 125%;
padding: 8px;
background: #eee;

}

section h1 {
font-size: 200% ;
}

h3#game_header_name {  
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 2px;
	color: black;
        }


/* Links */
a {
color: #09c;
text-decoration: none;
}
a:hover {
color: #069;
text-decoration: underline;
}
a:visited {
color: #069;
}

DIV#pgn-jchess
{
display:none;
}

DIV#top_panel{
	
	margin-top: 5px;
	margin-bottom: 10px;
	height: 60px;
}

DIV#logo
{
	float:left;
	display:inline-block;
	padding-right:1px;
	padding-left:1px;
	background-color:#FFE4C4;
	width: 19%;
	height: 60px;
}

DIV#banner
{
	display:inline-block;

	padding-right:1px;
	padding-left:1px;
	background-color:#FFE4C4;
	width: 70%;
	height: 60px;
}

DIV#login_panel
{
	float:right;
	display:inline-block;

	padding-right:1px;
	padding-left:1px;
	background-color:#FFE4C4;
	width: 10%;
	height: 60px;
}

DIV#left_panel{
	float:left;
	display:inline-block;
	background-color:#FFE4C4;
	margin-top: 5px;
	width: 16%;
	#height: 450px;
}


DIV#nav_panel
{
	display:block;
	padding-right:1px;
	padding-left:1px;
	background-color:#FFE4C4;
	width: 100%;
	#height: 200px;
}

DIV#display_chat_panel
{
	display:block;
	padding-right:1px;
	padding-left:1px;
	padding-top:5px;
	background-color:#DDE4C4;
	width: 100%;
	height: 250px;
	overflow:auto;
}

DIV#add_chat_panel
{
	position: block;
	background-color: red;
	top: 200px;
	
}
	

DIV#board_panel
{
	display:inline-block;
	padding-right:1px;
	padding-left:1px;
	background-color:#DDE4C4;
	width: 60%;
	#height: 450px;
}

DIV#board
{
	display:block;
	padding-right:1px;
	padding-left:1px;
	background-color:#BBCCCC;
	width: 100%;
#	height: 350px;
}

DIV#variations
{
	display:block;
	padding-right:1px;
	padding-left:1px;
	background-color:#DDE4C4;
	width: 100%;
#	height: 100px;
}

DIV#right_panel
{
	float:right;
	display:inline-block;
	padding-right:1px;
	padding-left:1px;
	margin-left:2px;
	background-color:#DDE4C4;
	width: 24%;
	overflow:auto;
	height: 350px;
}

DIV#zpawn_add
{
	position: block;
	background-color: red;
	top: 200px;
	
}

DIV#game_info_panel
{
	padding-right:1px;
	padding-left:1px;
	background-color:#DDE4C4;
	width: 100%;
#	height: 150px;
}

DIV#game_notation_panel
{
	padding-right:1px;
	padding-left:1px;
	background-color:#DDE4C4;
	width: 100%;
#	height: 300px;	
}

DIV#footer
{

	background-color: yellow;
	width: 100%;
	height: 30px;	

}

DIV#tournament_stripe{
	display:block;
	background-color: #332222;
	font-color: white;
	font-weight: bold;
	font-family: "Georgia";
	#font-variant:small-caps;
	padding-bottom: 3px;
}

DIV#cms{
background-color: #eee;
position:absolute;
right:20px;
top:20px;

padding:10px;
}


p.tournament_stripe{
	color: white;
	padding-left:5px;
}

.tournament_stripe a{
	color: white;
	padding-left:50px;
}


span.round_stripe {
	color: white;
	padding-left:25px;
# wezsze 
}

span.game_stripe{
	color: white;
	padding-left:10px;
	
	font-family: "Georgia";
	font-variant: small-caps;
	
}

span.breadcrumbs{
	font-size:80%;
	font-family: "Georgia";
	font-variant: small-caps;

}

span.chat_stripe{
	font-size:80%;
	font-family: "Georgia";
	padding-left:7px;
	padding-right:7px;
	
}

span.read_message{
	font-size:120%;
	font-family: "Georgia";
	}

span.unread_message{
	font-size:150%;
	font-weight: bold;
}

comment{
font-variant: small-caps;
padding-left:15px;
}


ul#navigation{
	list-style: none;
} 


ul#navigation li {
	border-bottom: 1px solid #fff;
	width: 90%;
}


ul a:link, ul a:visited {
	width: 50px;
	color: #000;
	padding: 5px;

}

ul a:hover {
	border-style: inset;
	padding: 5px 3px 3px 7px;
}

.round {
-moz-border-radius: 12px;

}

footer {
text-align: center;
margin-top: 10px;
width: 710px;
margin-left: auto;
margin-right: auto;
}

footer nav {
float: none;
}

table.profile {
width: 100%;
margin-bottom: 0;
}
td.main {
width: 70%;
padding: 1em;
}

td.sidebar {
width: 30%;
padding: 1em;
vertical-align: top;
background: #ffc;
}
.profile img.gravatar {
border: 1px solid #999;
margin-bottom: -15px;
}

div.field, div.actions {
margin-bottom: -3px;
font-size: 80%;
}

.field_with_errors {
margin-top: 4px;
padding: 2px;
background-color: red;
display: table;
}
.field_with_errors label {
color: #fff;
}

#error_explanation {
width: 400px;
border: 2px solid red;
padding: 7px;
padding-bottom: 12px;
margin-bottom: 20px;
background-color: #f0f0f0;
}

#error_explanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
background-color: #c00;
color: #fff;
}
#error_explanation p {
color: #333;
margin-bottom: 0;
padding: 5px;
}
#error_explanation ul li {
font-size: 12px;
list-style: square;
}

ul.users {
margin-top: 1em;
}
.users li {
list-style: none;
}

.chess-board {
  margin: 0 auto;
  position: relative;
  background: transparent url(../images/bw-board.gif) no-repeat 0 0;
  width: 344px;
  height: 344px;
}

.chess-board div {
  position: absolute;
	vertical-align: top;
	width: 43px;
	height: 43px;
	padding: 0; margin: 0;
}

.chess-board .wP { background: transparent url(../images/chess-sets/acmaster.gif) -1px -1px; }
.chess-board .wN { background: transparent url(../images/chess-sets/acmaster.gif) -46px -1px; }
.chess-board .wB { background: transparent url(../images/chess-sets/acmaster.gif) -91px -1px; }
.chess-board .wR { background: transparent url(../images/chess-sets/acmaster.gif) -136px -1px; }
.chess-board .wQ { background: transparent url(../images/chess-sets/acmaster.gif) -181px -1px; }
.chess-board .wK { background: transparent url(../images/chess-sets/acmaster.gif) -226px -1px; }

.chess-board .bp { background: transparent url(../images/chess-sets/acmaster.gif) -1px -46px; }
.chess-board .bn { background: transparent url(../images/chess-sets/acmaster.gif) -46px -46px; }
.chess-board .bb { background: transparent url(../images/chess-sets/acmaster.gif) -91px -46px; }
.chess-board .br { background: transparent url(../images/chess-sets/acmaster.gif) -136px -46px; }
.chess-board .bq { background: transparent url(../images/chess-sets/acmaster.gif) -181px -46px; }
.chess-board .bk { background: transparent url(../images/chess-sets/acmaster.gif) -226px -46px; }

