.container {
width: 80%;
word-wrap: break-word;
background-color:#353d40;
}

body {
background-color:#555d60;
}

header {
padding-top: 10px;
}

header img {
padding: 1px;
}

section {
margin-top: 1em;
font-size: 125% ;
padding: 8px;
background: #eee;

}

section h1 {
font-size: 200% ;
}

h3#game_header_name {  
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
	font-size: 20px;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 2px;
	margin-bottom: 15px;
	padding: 2px;
	#color: black;
        }


/* Links */
a {
color: #fff;
text-decoration: none;
}
a:hover {
color: #ddd;
text-decoration: underline;
}
a:visited {
color: #069;
}

DIV#pgn-jchess
{
display:none;
}

DIV#game_movement{
    display:block;
	margin-top: 5px;
	margin-bottom: 5px;
    margin-left: 30% ;

}

DIV#moves_right_panel{

    min-height: 200px;
	max-height: 400px;
	overflow:auto;
	
}

DIV#top_panel{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 80px;
	width: 100% ;
}

DIV#logo
{
	float:left;
	display:inline-block;
	#padding-right:1px;
	#padding-left:1px;
	background-color:#FFE4C4;
	width: 16% ;
	height: 100% ;
}

DIV#banner
{
	display:inline-block;

	#padding-right:1px;
	#padding-left:1px;
	background-color:#FFE4C4;
	width: 65% ;
	height: 100% ;
}

DIV#login_panel
{
	float:right;
	display:inline-block;

	padding-right:1px;
	padding-left:1px;

	background-image:url('../images/login_panel.png');
	width: 18% ;
	height: 100% ;
}

DIV#breadcrumbs{
height: 100 %;
#width: 100% ;
margin-bottom 3px;
padding-left:20px;
background-color:#353d40;
}

DIV#middle_panel{
display: inline-block;
width: 100% ;
}

DIV#left_panel{
	float:left;
	display:inline-block;
	
	margin-top: 1px;
	width: 18% ;
	height: 100% ;
}


DIV#nav_panel
{
	display:block;
	padding-right:1px;
	padding-left:1px;
	background-image:url('../images/navigation.png');
	width: 100% ;
	height: 40% ;
}

DIV#chat_panel{
    display:block;
	padding-top: 0px;
	height: 60% ;
	background-image:url('../images/navigation.png');
}



DIV#display_chat_panel
{
	#border: 2px;
	display:block;
	padding-right:1px;
	padding-left:5px;
	padding-top:5px;
	background-color:#353d40;
	width: 95% ;
	height: 80% ;
	min-height: 250px;
	max-height: 300px;
	overflow:auto;
	
	#border-left: #454d50 5px solid;

}

DIV#add_chat_panel
{
	position: block;
	background-color: #353d40;
	height: 20% ;	
}
	

DIV#board_panel
{
	display:inline-block;
	padding-right:1px;
	padding-left:1px;
	background-color:#353d40;
	width: 52% ;
	height: 100% ;
}

DIV#board
{
	display:block;
	padding-right:1px;
	padding-left:1px;
	background-color:#454d50;
	width: 100% ;
	height: 80% ;
	color: #ddd;
}

DIV#board a{
	color: #ddd;
	font-weight:bold;
	#font-variant:small-caps;
}

DIV#right_info_panel a{
	color: #ddd;
	font-weight:bold;
	font-variant:small-caps;
}


DIV#moves
{
display:none;
}

DIV#movecomments
{
	display:block;
	padding-right:1px;
	padding-left:1px;
	background-color:#444;
	width: 100% ;
	height: 20% ;
}

DIV#right_panel
{
	float:right;
	display:inline-block;
	padding-right:1px;
	padding-left:1px;
	margin-left:2px;
	background-color:#454d50;
	width: 28% ;
	overflow:auto;
	height: 100% ;
	
}

DIV#right_info_panel{

	padding-right:1px;
	padding-left:1px;
	margin-left:2px;
	min-height: 320px;
	background-color:#454d50;
	color: #DDE4C4 ;


}

DIV#zpawn_display
{
	padding-right:3px;
	padding-left:3px;
height: 80% ;
min-height: 320px;
color: #fff
}

DIV#zpawn_add
{
	position: block;
	#background-color: red;
	#top: 200px;
	height: 20% ;	
}

DIV#game_info_panel
{
	padding-right:1px;
	padding-left:1px;
	background-color:#DDE4C4;
	width: 100%;
#	height: 150px;
}

DIV#game_notation_panel
{
	padding-right:1px;
	padding-left:1px;
	background-color:#DDE4C4;
	width: 100%;
#	height: 300px;	
}

DIV#footer
{

	background-color: #333;
	width: 100% ;
	height: 30px;	

}

DIV#tournament_stripe{
	display:block;
	background-color: #303030;
	font-color: white;
	font-weight: bold;
	font-family: "Georgia";
	#font-variant:small-caps;
	padding-bottom: 3px;
}

DIV#cms{
background-color: #eee;
position:absolute;
right:10px;
top:20px;

padding:10px;
font-size: 80% ;
}

DIV#cms a{
color: #000;
}

DIV#zpawn_display a {
	color: #ddd;
	font-weight:bold;
	font-variant:small-caps;
}


p.tournament_stripe{
	color: white;
	padding-left:5px;
}

.tournament_stripe a{
	color: white;
	padding-left:50px;
}


span.round_stripe {
	color: white;
	padding-left:8px;
# wezsze 
}

span.round_stripe a{
	color: #ddd;
	font-weight: bold; 
	padding-left:-5px;
}

span.chat_stripe a {
	color: #ddd;
	font-weight:bold;
	font-variant:small-caps;
}

span.round_stripe a:active{
	color: #ddd;
	font-weight: bold; 
	padding-left:-5px;
}

span.game_stripe{
	font-family: "Arial";
		
}


span.rignt_info_panel_stripe a{
	color: #ddd;
	font-weight: bold; 
	padding-left:-5px;
}


span.info_title{
	font-weight: bold;
	font-size: 120% ;
	margin-left: 10px;
}

span.move_number{
	#font-weight: bold;
	color: #989;
	font-size: 75% ;
}

span.game_stripe a{
	color: #bbb;
	padding-left:0px;	
	
}

span.breadcrumbs{
	font-size:90%;
	font-family: "Georgia";
	font-variant: small-caps;
	color: #fff;
	padding: 0;
    margin: 0;
}

span.breadcrumbs a{
	color: #fff;
	font-weight: bold;
}

span.chat_stripe{
	font-size:80%;
	font-family: "Georgia";
	padding-left:7px;
	padding-right:7px;
	color: #fff;
	
}


span.h5_stripe{
    padding-left: 20px;
	font-size:80% ;
	color: #fff;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 2px;
	font-family: "Georgia";
	font-variant: small-caps;
	
}

span.h3_stripe{
	font-size:120% ;
	color: #fff;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 2px;
	font-family: "Georgia";
	font-variant: small-caps;
	
}

span.h2_stripe{
	font-size:150% ;
	color: #fff;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 20px;
	font-family: "Georgia";
	font-variant: small-caps;
	
	
}

span.variants{
	color: #fff;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: "Georgia";
}

span.user_link a{
	color: #fff;
	font-family: "Georgia";
	font-variant: small-caps;
}

a.goto-position {
font-weight: bold;
color:#ccc;
}

span.read_message a{
	font-size:100%;
	font-family: "Georgia";
	color: #0f0;
	}

span.unread_message a{
	font-size:125% ;
	font-weight: bold;
	font-family: fantasy;
	color: #ddd;
}

comment{
font-variant: small-caps;
padding-left:15px;
}


ul#navigation{
	list-style: none;
	padding: 0;
    margin: 0;
} 


ul#navigation li {
	border-bottom: 1px solid #fff;
	width: 90% ;
	padding-left:12px;
	color: white;
}


ul a:link, ul a:visited {
	width: 50px;
	color: #fff;
	padding: 5px;

}

ul a:hover {
	border-style: inset;
	padding: 5px 3px 3px 7px;
}

.ilogin-top{
padding-left: 15px;
padding-top: 5px;
padding=bottom: -5px;
}

.ilogin-bottom{
padding-left: 15px;
padding=bottom: 5px;
}

footer {
text-align: center;
margin-top: 10px;
width: 710px;
margin-left: auto;
margin-right: auto;
}

footer nav {
float: none;
}

table.profile {
width: 100%;
margin-bottom: 0;
}
td.main {
width: 70%;
padding: 1em;
}

td.sidebar {
width: 30%;
padding: 1em;
vertical-align: top;
background: #ffc;
}
.profile img.gravatar {
border: 1px solid #999;
margin-bottom: -15px;
}

div.field, div.actions {
margin-bottom: -3px;
font-size: 80%;
}

.field_with_errors {
margin-top: 4px;
padding: 2px;
background-color: red;
display: table;
}
.field_with_errors label {
color: #fff;
}

#error_explanation {
width: 400px;
border: 2px solid red;
padding: 7px;
padding-bottom: 12px;
margin-bottom: 20px;
background-color: #fff;
}

#error_explanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
background-color: #c00;
color: #fff;
}
#error_explanation p {
color: #333;
margin-bottom: 0;
padding: 5px;
}
#error_explanation ul li {
font-size: 12px;
list-style: square;
color: #222;

}

ul.users {
margin-top: 1em;
}
.users li {
list-style: none;
}

.chess-board {
  margin: 0 auto;
  position: relative;
  background: transparent url(../images/bw-board.gif) no-repeat 0 0;
  width: 344px;
  height: 344px;
}

.chess-board div {
  position: absolute;
	vertical-align: top;
	width: 43px;
	height: 43px;
	padding: 0; margin: 0;
}

.chess-board .wP { background: transparent url(../images/chess-sets/acmaster.gif) -1px -1px; }
.chess-board .wN { background: transparent url(../images/chess-sets/acmaster.gif) -46px -1px; }
.chess-board .wB { background: transparent url(../images/chess-sets/acmaster.gif) -91px -1px; }
.chess-board .wR { background: transparent url(../images/chess-sets/acmaster.gif) -136px -1px; }
.chess-board .wQ { background: transparent url(../images/chess-sets/acmaster.gif) -181px -1px; }
.chess-board .wK { background: transparent url(../images/chess-sets/acmaster.gif) -226px -1px; }

.chess-board .bp { background: transparent url(../images/chess-sets/acmaster.gif) -1px -46px; }
.chess-board .bn { background: transparent url(../images/chess-sets/acmaster.gif) -46px -46px; }
.chess-board .bb { background: transparent url(../images/chess-sets/acmaster.gif) -91px -46px; }
.chess-board .br { background: transparent url(../images/chess-sets/acmaster.gif) -136px -46px; }
.chess-board .bq { background: transparent url(../images/chess-sets/acmaster.gif) -181px -46px; }
.chess-board .bk { background: transparent url(../images/chess-sets/acmaster.gif) -226px -46px; }

