  <div id="vars">
<% position = Position.find(cookies[:position]) %>
<table class="variation">
	<tr height="75%"><td width="20%">1.&nbsp </td><td width="80%"><%= Time.now %></tr>
	<tr height="75%"><td width="20%">2.&nbsp</td><td width="80%"><%= position.var2 %></tr>
	<tr height="75%"><td width="20%">3&nbsp</td><td width="80%"><%= position.var3 %></tr>
</table>
  </div>