 <%= will_paginate @users %>


<table>
<% @users.each do |user| %>
	<tr>
		<td>
		<%= link_to user.login, user %> </td>
	<td><% unless user.allowance.nil? %>
		<%= user.allowance.description %>
	<% end %></td></tr>
<% end %>
</table>