<div id="faq">
<span class="h2_stripe">Pomoc i FAQ strony ZPionka.pl</span><br/><br/>

Witam na nowej, mocno zmienionej stronie zpionka.pl na której bêdzie mo¿na ogl¹daæ i komentowaæ partie szachowe. W razie jakichkolwiek pytañ zawsze mo¿na skontaktowaæ siê bezposrednio ze mn¹ pod kontaktami podanymi w stopce strony. Ze strony mog¹ korzystaæ zarówno u¿ytkownicy zarejestrowani jak i niezarejstrowani - rejestracja umo¿liwia jednak szereg funkcji niedostêpnych dla niezalogowanego u¿ytkownika. Funkcje dostêpne dla zarejestrowanego u¿ytkownika: <br/>

<ul>
<li> Wysy³anie prywatnych wiadomosci
<li> Dodawanie komentarzy do partii, turniejów, artyku³ów czy nawet poszczególnych posuniêæ
<li> Dodawanie poszczególnych partii do listy obserwowanych, a tak¿e zapamiêtywanie przegladanych rund i turniejów
<li> Mo¿liwosc przegl¹dania do czterech partii jednoczesnie 
<li> Mo¿liwosc otrzymywania e-maili z informacjami o wydarzeniach
</ul>

Strona póki co bêdzie podlega³a ci¹g³ym zmianom - mam kilka pomys³ów na rozwijanie nowych funkcji i brak mi tylko czasu na opracowanie ka¿dej z nich. 
<br/><br/>
<strong>Czy trzeba siê zalogowaæ aby korzystaæ ze strony?</strong><br/>
Tak jak pisa³em - zalogowanie siê daje wiêcej mo¿liwosci. Nie jest to jednak konieczne - g³ówne funkcjonalnosci bêd¹ dostêpne tak¿e dla u¿ykowników niezalogowanych<br/><br/>

<strong>Czy korzystanie ze strony bêdzie p³atne?</strong><br/>
Podobnie jak w przypadku zalogowania - g³ówne funkcje na pewno <strong>zawsze</strong> bêd¹ darmowe. W najbli¿szej przysz³osci strona bêdzie w 100% darmowa - po zalogowaniu bêdzie siê mia³o dostêp do wszystkich funkcji<br/><br/>

<strong>jakie warunki trzeba spe³niæ, aby przegl¹daæ stronê?</strong><br/>
Potrzebna jest przegl¹darka z obs³ug¹ JavaScript - polecanymi s¹ Chrome(na niej dzia³a najszybciej) oraz Opera i Firefox. Internet Explorer to jest z³o i zdecydowanie odradzam tê przegl¹darkê, ale mimo to te¿ powinno na niej dzia³aæ.<br/><br/>

<strong>Wyskoczy³ mi b³¹d. Co mam zrobiæ?</strong><br/>
Przede wszystkim nie panikowaæ :) Choæ testowa³em, na stronie mog¹ byæ b³êdy i niedoci¹gniêcia. Najlepiej siê wówczas ze mn¹ skontaktowaæ, gdy¿ wiêkszosc b³êdów jest ³atwa do naprawienia<br/><br/>

<strong>Mam ciekawy pomys³ do wykorzystania na stonie. Co z tym zrobiæ?</strong><br/>
Zg³osiæ mnie. Chêtnie przyjrzê siê ka¿demu pomys³owi i jesli uznam go ciekawym oraz bêdzie mo¿liwosc sprawnego do³¹czenia go do projektu to chêtnie wykorzystam pomys³<br/><br/>

<strong>Nie mogê siê zalogowaæ. Co zrobi³em Ÿle?</strong><br/>
Jedyn¹ mo¿liwoscia jest b³êdne wpisywanie has³a. Spróbuj raz jeszcze i pamiêtaj, ¿e program rozró¿nia ma³e i wielkie litery. Upewnij siê, czy zosta³es zarejestrowany - jesli tak, powinienes otrzymaæ e-maila na podany podczas rejestracji adres
<br/><br/>
		
</div>

