<div id="faq">
<span class="h2_stripe">Pomoc i FAQ strony ZPionka.pl</span><br/><br/>

Witam na nowej, mocno zmienionej stronie zpionka.pl na której będzie można oglądać i komentować partie szachowe. W razie jakichkolwiek pytań zawsze można skontaktować się bezposrednio ze mną pod kontaktami podanymi w stopce strony. Ze strony mogą korzystać zarówno użytkownicy zarejestrowani jak i niezarejstrowani - rejestracja umożliwia jednak szereg funkcji niedostępnych dla niezalogowanego użytkownika. Funkcje dostępne dla zarejestrowanego użytkownika: <br/>

<ul>
<li> Wysyłanie prywatnych wiadomosci
<li> Dodawanie komentarzy do partii, turniejów, artykułów czy nawet poszczególnych posunięć
<li> Dodawanie poszczególnych partii do listy obserwowanych, a także zapamiętywanie przegladanych rund i turniejów
<li> Możliwosc przeglądania do czterech partii jednoczesnie 
<li> Możliwosc otrzymywania e-maili z informacjami o wydarzeniach
</ul>

Strona póki co będzie podlegała ciągłym zmianom - mam kilka pomysłów na rozwijanie nowych funkcji i brak mi tylko czasu na opracowanie każdej z nich. 
<br/><br/>
<strong>Czy trzeba się zalogować aby korzystać ze strony?</strong><br/>
Tak jak pisałem - zalogowanie się daje więcej możliwosci. Nie jest to jednak konieczne - główne funkcjonalnosci będą dostępne także dla użykowników niezalogowanych<br/><br/>

<strong>Czy korzystanie ze strony będzie płatne?</strong><br/>
Podobnie jak w przypadku zalogowania - główne funkcje na pewno <strong>zawsze</strong> będą darmowe. W najbliższej przyszłosci strona będzie w 100% darmowa - po zalogowaniu będzie się miało dostęp do wszystkich funkcji<br/><br/>

<strong>jakie warunki trzeba spełnić, aby przeglądać stronę?</strong><br/>
Potrzebna jest przeglądarka z obsługą JavaScript - polecanymi są Chrome(na niej działa najszybciej) oraz Opera i Firefox. Internet Explorer to jest zło i zdecydowanie odradzam tę przeglądarkę, ale mimo to też powinno na niej działać.<br/><br/>

<strong>Wyskoczył mi błąd. Co mam zrobić?</strong><br/>
Przede wszystkim nie panikować :) Choć testowałem, na stronie mogą być błędy i niedociągnięcia. Najlepiej się wówczas ze mną skontaktować, gdyż większosc błędów jest łatwa do naprawienia<br/><br/>

<strong>Mam ciekawy pomysł do wykorzystania na stonie. Co z tym zrobić?</strong><br/>
Zgłosić mnie. Chętnie przyjrzę się każdemu pomysłowi i jesli uznam go ciekawym oraz będzie możliwosc sprawnego dołączenia go do projektu to chętnie wykorzystam pomysł<br/><br/>

<strong>Nie mogę się zalogować. Co zrobiłem źle?</strong><br/>
Jedyną możliwoscia jest błędne wpisywanie hasła. Spróbuj raz jeszcze i pamiętaj, że program rozróżnia małe i wielkie litery. Upewnij się, czy zostałes zarejestrowany - jesli tak, powinienes otrzymać e-maila na podany podczas rejestracji adres
</div>

<strong>Nie potrafię znaleźć listy partii</strong><br/>
Na głównej stronie domyslnie pojawia się nierozwinięta lista turniejów. Za pomocą znaów "+" i "-" można rozwijać i zwijać listę rund. Wówczas wystarczy wybrać jedną z rund (zostanie zaznaczona znaczkiem # przed nazwą) i wyswietlą się partie do tej rundy.

<strong>Co oznaczają oka obok partii?</strong><br/>
Jesli jestes zalogowanym użytkownikiem, masz możliwosć dodawania partii do zbioru obserwowanych. Ta informacja zostanie zapisana także po opuszczeniu witryny. Korzystając z ikon przedstawiających oko można dodawać i usuwać z tej listy. 

<strong>Nie mogę uruchomić okna z partiami. W czym tkwi problem?</strong><br/>
Problemy mogą być dwa. Po pierwsze możesz nie posiadać srodowiska uruchmieniowego Javy (JVM). Możesz go sciągnąć ze strony
<%= link_to 'Javy','http://www.java.com/pl/download/' %>. Jesli problem nie jest po stronie Javy, to prawdopodobnie obserwuje zbyt mało partii, aby móc je przeglądać.

<br/><br/>

