<div id="vars">
<% position = Position.find(cookies['position']) %>

<table class="variation">
	<tr height="75%"><td width="8%">1.&nbsp </td><td width="92%"><span class="variants"><%= position.var1 %><span/></tr>
	<tr height="75%"><td width="8%">2.&nbsp</td><td width="92%"><span class="variants"><%= position.var2 %><span/></tr>
	<tr height="75%"><td width="8%">3&nbsp</td><td width="92%"><span class="variants"><%= position.var3 %><span/></tr>
</table>
  </div>