

<div id="wrapper">
<div>
    <a id="board-back" href="#">Back</a>
    <a id="board-next" href="#">Next</a>
    <a id="board-flip" href="#">Flip</a>
</div>
  <div id="board3"></div>
  <p id="board-annot">
  	<%= @ggame.get_long_info_string %></h3>
  </p>
  <p id="pgn-fischer-spassky">   
	<%= @pgn_string %>

  </p>

	
</div>