

<%= will_paginate @players %>

<table>
	<% @players.each do |player| %>
	<tr>
		<% @player_strng = player.name.to_s + "," + player.surname %>
		<td><%= link_to @player_strng, player %></td>
	
	
		</tr>
	<% end %>
</table>	