<% if admin_in? %>
<h5>Admin panel, v 1.0</h5>	

<%= link_to "Add new PGN", add_pgn_path %><br/>
<%= link_to "Change allowance", change_allowance_path%><br/>
<%= link_to "Add new article", new_info_path %><br/>
<%= link_to "Add new iframe", new_tomaiframe_path %><br/>



<% end %>